.user-box-info {
  width: 30%;
  margin-left: 25%;
  height: 500px;
  text-align: center;
  background-color: rgb(30, 15, 94);
  margin-top: 50px;
  border-radius: 10%;
  box-shadow: 5px 5px 5px 5px rgb(14, 59, 70);
  
}

.profilePicture {
  height: 200px;
  width: 150px;
  border-radius: 25%;
  
}

.text {
  text-align: justify;
  width: 87%;
  margin-left: 7%;
  font-size: 18px;
  color: white;
}

.btn-toggle-profile {
  padding: 10px 15px;
  background-color: rgb(68, 161, 184);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}